#sec7{
    margin-top: 100px;

}
#s1 , #s2{
    display: flex;
    justify-content: space-around;
    
}
#sec7 h2{
    color: #571c1d;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
#s1 , #s2{
    padding-top: 60px;
}
#sec7 p{
    width: 80%;
    color: rgb(107, 102, 102);
    line-height: 26px;
}
@media(max-width:600px){
    #sec7 #s1 , #s2{
        flex-direction: column;
    }
}

