body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none !important;
}
html{
    scroll-behavior: smooth;
}
:root{
  --mainColor:#1f2278;
  --orangeColor:rgb(231, 157, 19);
  --btn:rgb(91, 91, 217);
}
section , footer , header{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    padding: 25px 0px;
}
span{
    display: block;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
button{
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border-radius: 4px;
}
p{
    line-height: 20px;
}
input{
    box-sizing: border-box;
    text-align: left;
    color: #333;
    padding: 5px 15px;
    border: 3px solid #fff;
    font-size: 16px;
}